<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Document</title>
</head>
<body class="mdb-skin bg-light">
  <app-navigation></app-navigation>
  <div class="contendedor">
      <div class="col-12 row bg-light">
          <!--Grid column-->
          <div class="col-lg-7 col-md-7 center">
             
      <router-outlet></router-outlet>
          </div>
        </div>
</div>

  
  
</body>
</html>
